<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Identifier</key>
	<string>com.salaourn.swift-file-license-mit</string>
	<key>SortOrder</key>
	<integer>2</integer>
	<key>Platforms</key>
	<array/>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_filename___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>filename</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>File name</string>
			<key>Description</key>
			<string>File name</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
